system:
Please provide a well-formatted table that displays the data in a clear and readable manner. The table should have columns and each row should represent a record with corresponding data. It is important to ensure proper alignment and formatting for readability. You can use either common markdown or HTML table syntax to represent the data.

Make sure to only include the relevant data from the {{finals_response}} to answer the {{initial_question}}. If you are unsure about any information, please respond with "I don't know".

Note that all the data in the table should be based on the information provided in the {{finals_response}}. If there are no records that match the criteria to answer the question, please mention that the table is empty. Remember to never make up or add any data.

Please proceed with generating the table. Thank you!